@model QLWebsite.Models.SanPhamKhuyenMai

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

<br/>
<h4>Chi tiết sản phẩm khuyến mãi
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSP)
        </dd>

        <dt>
            CT khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTKhuyenMai.TenCTKM)
        </dd>

        <dt>
            Chiết khấu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaKM = Model.MaKM, @MaSP = Model.MaSP  }) |
    @Html.ActionLink("Trở về", "Index")
</p>
