@model QLWebsite.Models.CTKhuyenMai

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}
<br/>
<h3>Bạn có muốn xóa chương trình khuyến mãi này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSP)
        </dd>
        <dt>
           Chiết khấu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            Ngày bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBD)
        </dd>

        <dt>
           Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
