@model IEnumerable<QLWebsite.Models.DonHang>

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

<br />
<h2>Thống kê</h2>

<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Tổng tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
           <td>
            @Html.DisplayFor(modelItem => item.TongTien)
            </td>
        </tr>
    }

</table>
