@model QLWebsite.Models.LoaiKH

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}


<div>
    <br/>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã cấp bậc
        </dt>

        <dd>
            @Html.DisplayFor(model=>model.MaCapBac)
        </dd>

        <dt>
           Tên cấp bậc
        </dt>

        <dd>
           @Html.DisplayFor(model => model.TenCapBac)
        </dd>

        <dt>
            Chiết khấu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            Ngày áp dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayApDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaCapBac = Model.MaCapBac }) |
    @Html.ActionLink("Trở về", "Index")
</p>
