@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<QLWebsite.Models.CTKhuyenMai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

<br/>

<p>
    @Html.ActionLink("Thêm mới chương trình khuyến mãi", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            Mã CT Khuyến mãi
        </th>
        <th>
           Tên CT khuyến mãi
        </th>
        <th>
           Ngày bắt đầu
        </th>
        <th>
           Ngày kết thúc
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCTKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKT)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaKM = item.MaKM }) |
            @Html.ActionLink("Chi tiết", "ChiTiet", new { @MaKM=item.MaKM }) |
            @Html.ActionLink("Xóa", "Xoa", new { @MaKM = item.MaKM })
        </td>
    </tr>
}

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>