@model QLWebsite.Models.CTKhuyenMai

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

<br/>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <input type="hidden" value="@Model.MaKM" name="MaKM" />
    <dl class="dl-horizontal">
        <dt>
            Tên CT khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCTKM)
        </dd>

        <dt>
            Ngày bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBD)
        </dd>

        <dt>
            Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKT)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
